<div class="border rounded p-1 m-1">
    <div>
        @CardParam.NameString
    </div>
    <div>
        <img src="@("images/" + CardParam.Suit.ToString().ToLower() + ".png")" />
    </div>
</div>


@code {
    [Parameter]
    public CardClass CardParam { get; set; }
}
